@CHARSET "UTF-8";

body {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: #ffffff;
	color: #576069;
}

.block {
	width: 90%;
	display: inline-block;
	float: left;
	border: 1px solid #cccccc;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.block_title {
	text-align: center;
}